<div class="containerMain">
    <mat-card>
        <mat-card-title>
            {{titulo}} Formaciones de Aprendizaje
        </mat-card-title>
        <br/>
        <div class="foto">
            <img src="assets/formacion.svg" alt="">
        </div>
        <br />
        <mat-card-content>
            <form [formGroup]="FormFormacion" (ngSubmit)="Submit()">
                <mat-form-field appearance="outline" class="media-width">
                 <mat-label>
                        Nombre
                    </mat-label>
                    <input type="text"
                    matInput
                    placeholder="Nombre"
                    formControlName="Nombre"
                    required autofocus>
                    <mat-icon matSuffix>credit_card</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="media-width">
                    <mat-label>Tipo de Formación</mat-label>
                    <mat-select formControlName="Tipo">
                      <mat-option value="Técnica">Técnica</mat-option>
                      <mat-option value="Técnlogica">Técnlogica</mat-option>
                    </mat-select>
                  </mat-form-field>

                <div class="btn">
                    <button mat-raised-button color="primary">
                        {{titulo}}
                        <mat-icon>send</mat-icon>
                    </button>
                    </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
