
<div class="contenedor">
  <div class="title Columnas">
    <div class="title">
      <h1>{{ salute }} {{ Nombres }}</h1>
    </div>
   <div class="right">
    <p>
      Lleva un seguimiento de los egresados Sena
      </p>
      <img mat-card-image src="../../../assets/learning.svg" alt="">
   </div>

   <div class="left">
    <p>
      Informate sobre las formaciones de aprendizaje disponibles
      </p>
      <img mat-card-image src="../../../assets/interview.svg" alt="">
   </div>

   <div class="">
    <p>
      Conoce las fichas de formación Sena
      </p>
      <img mat-card-image src="../../../assets/team.svg" alt="">
   </div>
  </div>
<div>


  </div>
</div>
<footer>
  <p></p>
</footer>
